<div class="header-container">
    <div class="header">
        <div class="logo-header">
            <div class="icono-header">
                <img src="../../assets/images/Vector.png" alt="">
            </div>
            <div class="titulo-logo-header">
                <img src="../../assets/images/Vector1.png" alt="">
            </div>
        </div>

    
        <div class="categorias-header">
            <div>
                <button class="btn-active">INICIO</button>
            </div>
            <div>
                <button>JUEGOS</button>
            </div>
            <div>
                <button>NOTICIAS</button>
            </div>
            <div>
                <button>CONTACTO</button>
            </div>
        </div>
    
        <div class="buscador-inicio-header">
            <div class="buscador-header"></div>
            <div class="inicio-sesion-header"></div>
        </div>
    
        <div class="carrusel-header">
    
        </div>
    </div>
    
</div>