<div class="header-container">
    <div class="header">
        <div class="logo-header">
            <div class="icono-header">
                <img src="../../assets/images/Vector.png" alt="icono codopress">
            </div>
            <div class="titulo-logo-header">
                <img src="../../assets/images/Vector1.png" alt="codopress">
            </div>
        </div>

    
        <div class="categorias-header">
            <div>
                <button class="btn-active">INICIO</button>
            </div>
            <div>
                <button>JUEGOS</button>
            </div>
            <div>
                <button>NOTICIAS</button>
            </div>
            <div>
                <button>CONTACTO</button>
            </div>
        </div>
    
        <div class="buscador-inicio-header">
            <div class="buscador-header">
                <img src="../../assets/images/Vector2.png" alt="lupa">
            </div>
            <div class="inicio-sesion-header">
                <button>INICIAR SESIÓN</button>
            </div>
        </div>
    </div>
    <div class="carrusel-header">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/images/WZ2-S01-DMZ-TACTICS-TOUT 2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="noticias-fecha">
                        <button>Noticias</button>
                        <p>01/04/2023</p>
                    </div>

                  <h5>La comunidad de Call of Duty: ¿Por qué cae en audiencia Warzone 2.0?</h5>
                  <p>Call of Duty: Warzone 2.0 decepciona a la comunidad con sus últimas actualizaciones y las críticas no se hacen esperar.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../assets/images/WZ2-S01-DMZ-TACTICS-TOUT 2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../assets/images/WZ2-S01-DMZ-TACTICS-TOUT 2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>