.header-container {
    width: 100vw;
    height: 560px;

    .header {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        width: 100vw;
        height: 56px;
        background: rgba(15, 15, 15, 0.8);
        opacity: 80%;
        border-bottom: 1px solid #3F3F3F;

        .logo-header {
            display: flex;
            flex-direction: row;

            .icono-header {
                margin-left: 156px;
            }

            .titulo-logo-header {
                margin-left: 14px;
            }
        }

        .categorias-header {
            display: flex;
            flex-direction: row;
            margin-left: 63px;

            .btn-active {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(251, 70, 23, 0.3) 100%);
                color: #FF2A00;
                border-bottom: 3px solid #FF2A00;
                box-sizing: border-box;

            }

            button {
                all: unset;
                width: 76px;
                height: 55px;
                font-family: Exo;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(251, 70, 23, 0.3) 100%);
                    color: #FF2A00;
                    border-bottom: 3px solid #FF2A00;
                    box-sizing: border-box;
                }
            }
        }

        .buscador-inicio-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 390px;

            .buscador-header {
                height: 16.045713424682617px;
                width: 16px;

            }

            .inicio-sesion-header {
                margin-left: 27px;

                button {
                    all: unset;
                    height: 32px;
                    width: 167px;
                    border-radius: 4px;
                    color: #FFFFFF;
                    background-color: #FF2A00;
                    justify-content: center;
                    font-family: 'Exo';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

    .carrusel-header {
        position: absolute;
        top: 0;
        z-index: -999;
        width: 100vw;

        #carouselExampleCaptions {
            .carousel-inner {
                .carousel-item {
                    .noticias-fecha {
                        display: flex;
                        flex-direction: row;

                        button {
                            all: unset;
                            width: 72px;
                            height: 21.03px;
                            margin-right: 24px;
                            background: #272727;
                            color: #AAAAAA;
                            font-family: Exo;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: center;
                            border-radius: 4px;


                        }

                        p {
                            width: 66px;
                            height: 21.03px;
                            font-family: Exo;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #AAAAAA;

                        }
                    }

                    .carousel-caption {

                        h5 {
                            font-family: 'Exo';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 32px;
                            line-height: 40px;
                            color: #FFFFFF;
                            text-align: left;
                        }

                        p {
                            font-family: 'Exo';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            color: #FFFFFF;
                            text-align: left;
                        }
                    }
                }
            }
        }



    }
}

* {
    // border: 1px solid red;
}