<div class="ultimas-noticias-lanzamientos-container">
    <div class="ultimas-noticias-container">
        <h1>ÚLTIMAS NOTICIAS</h1>
        <div class="ultimas-noticias">
            <img src="../../assets/images/ultima-noticia1.png" alt="ultima noticia 1">
            <div class="info-ultimas-noticias">
                <button>Noticias</button>
                <h5>La versión de Resident Evil 4 Remake en PS4 recibe críticas por su pobre rendimiento</h5>
                <p>Un análisis técnico determina que Resident Evil 4 Remake tiene una tasa de fotogramas por segundo muy inestable y numerosos problemas visuales que empañan la experiencia de juego en PS4.</p>
            </div>
        </div>

        <div class="ultimas-noticias">
            <img src="../../assets/images/ultima-noticia2.png" alt="ultima noticia 2">
            <div class="info-ultimas-noticias">
                <button>Noticias</button>
                <h5>Forspoken a pesar de su decepcionante extreno lanza su DLC con fecha de estreno para PS5 y PC</h5>
                <p>Luego de un complicado lanzamiento, Square Enix y Luminous Productions quieren dejar una mejor imágen para su nueva IP cuando Forspoken reciba su expansión “In Tanta We Trust“, la cual llegará el 26 de mayo a PlayStation 5 y PC.</p>
            </div>
        </div>

        <div class="ultimas-noticias">
            <img src="../../assets/images/ultima-noticia3.png" alt="ultima noticia 3">
            <div class="info-ultimas-noticias">
                <button>Noticias</button>
                <h5>Hogwarts Legacy es el juego más vendido de lo que llevamos de 2023 en Estados Unidos</h5>
                <p>Jonathan desvela los datos oficiales de Circana, que recogen los videojuegos más vendidos de febrero 2023 (y de lo que llevamos de año) en Estados Unidos.</p>
            </div>
        </div>
    </div>

    <div class="lanzamientos-container">
        <h1>LANZAMIENTOS</h1>
        <div class="lanzamientos lanzamientos1">
            <h2>Curse of the Sea Rats</h2>
            <div class="iconos">
                <img src="../../assets/images/PlayStation_4_logo_and_wordmark 1.png" alt="playstation">
            </div>
            <p>Disponible: 11/04/2023</p>
        </div>

        <div class="lanzamientos lanzamientos2">
            <h2>GrimGrimoire OnceMore</h2>
            <div class="iconos">
                <img src="../../assets/images/PlayStation_4_logo_and_wordmark 1.png" alt="playstation">
                <img src="../../assets/images/Group 190.png" alt="nintendo">
            </div>
            <p>Disponible: 07/04/2023</p>
        </div>

        <div class="lanzamientos lanzamientos3">
            <h2>Sherlock Holmes</h2>
            <div class="iconos">
                <img src="../../assets/images/PlayStation_4_logo_and_wordmark 1.png" alt="playstation">
                <img src="../../assets/images/w10.png" alt="win10">
            </div>
            <p>Disponible: 11/04/2023</p>
        </div>

        <div class="lanzamientos lanzamientos4">
            <h2>GhostWire: Tokyo</h2>
            <div class="iconos">
                <img src="../../assets/images/w10.png" alt="win10">
            </div>
            <p>Disponible: 12/04/2023</p>
        </div>
    </div>
</div>
