<div class="noticias-destacadas">
    <h1 class="titulo-noticias-destacadas">NOTICIAS DESTACADAS</h1>
    <div class="cards-noticias-destacadas">
        <div class="card-noticias-destacadas" id="noticia1">
            <div class="noticia-fecha-container">
                <button class="btn-noticia">Noticias</button>
                <p class="fecha">28/03/2023</p>
            </div>
            <p class="descripcion-noticias-destacadas">Ya puedes jugar en Netflix con su nueva propuesta: Terra Nil</p>
        </div>
        <div class="card-noticias-destacadas" id="noticia2">
            <div class="noticia-fecha-container">
                <button class="btn-noticia">Noticias</button>
                <p class="fecha">30/03/2023</p>
            </div>
            <p class="descripcion-noticias-destacadas">Street Fighter 6 revela un nuevo gameplay protagonizado por Cammy y Manon</p>
        </div>
        <div class="card-noticias-destacadas" id="noticia3">
            <div class="noticia-fecha-container">
                <button class="btn-noticia">Noticias</button>
                <p class="fecha">01/04/2023</p>
            </div>
            <p class="descripcion-noticias-destacadas">Exoprimal lanza su beta para PC, XBOX y PlayStation</p>
        </div>




    </div>

</div>