.noticias-destacadas {
    color: black;
    background: #303030;
    margin-top: 62px;
    width: 100vw;

    h1 {
        width: 261px;
        height: 20px;
        font-family: 'Exo';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        color: #FFFFFF;
        padding-top: 40px;
        margin-left: 156px;
    }
    .cards-noticias-destacadas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 156px;


        .card-noticias-destacadas {
            width: 360px;
            height: 203px;

            .noticia-fecha-container {
                display: flex;
                flex-direction: row;

                .btn-noticia {
                    all: unset;
                    margin: 115px 16px 0 17px;
                    height: 20px;
                    width: 72px;
                    font-family: Exo;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    background: #272727;
                    color: #AAAAAA;
                    border-radius: 4px;

                }

                .fecha {
                    margin-top: 115px;
                    width: 69px;
                    height: 20px;
                    font-family: 'Exo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #AAAAAA;

                }
            }

            .descripcion-noticias-destacadas {
                width: 330px;
                height: 40px;
                font-family: 'Exo';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                align-items: center;
                color: #FFFFFF;
                margin-left: 17px;

            }
        }

        #noticia1 {
            background-image: url("../../assets/images/noticia1.png");
        }

        #noticia2 {
            background-image: url("../../assets/images/noticia2.png");
        }

        #noticia3 {
            background-image: url("../../assets/images/noticia3.png");
        }
    }
}

* {
    // border: 1px solid red;
}